
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header, nav, main, footer {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
}
header {
    background-color: #f4f4f4;
}
nav {
    background-color: #eee;
    display: flex; /* Torna o menu horizontal */
    justify-content: space-around; /* Distribui os itens com espaço ao redor */
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Alinha os itens horizontalmente */
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}
nav ul li a:hover {
    background-color: #ddd;
    border-radius: 5px;
}
main {
    background-color: #fafafa;
}
footer {
    background-color: #f4f4f4;
    text-align: center;
}
.content-wrapper {
    display: flex;
}
section {
    flex: 2;
    margin-right: 10px;
}
nav {
    flex: 1;
}
